:root {
    --primary-color: #f94e2f;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 34px;
    --star-gold-color: #ffce3e;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height))
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; 
    /* 1rem tuong ung voi 10px */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

/* responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;

}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

p {
    font-size: 1rem;
}

/* Test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.33333%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

ul{
    padding: 0px 0px;
    list-style-type: none;
}

.btn{
    height: 34px;
    line-height: 34px;
    min-width: 142px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
}

.btn.btn--size-s{
    height: 32px;
    line-height: 32px;

}

.btn:hover{
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--primary:hover{
    background-color: #f94e2f;
    opacity: 0.9;
}

.btn.btn--disabled {
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
}

.select-input {
    min-width: 200px;
    padding: 0px 5px;
    height: 34px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: #999999;
}

/* list option */

.select-input__list {
    position: absolute;
    top: calc(100% + 3px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    display: none;
}

.select-input__item {
    width: 200px;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
    cursor: pointer;
}

.select-input__item-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

.select-input__item:hover .select-input__item-link {
    color: var(--primary-color);
}