.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header .header__navbar-item{
    display: inline-block;
}

.header__navbar-list{
    margin-top: 8px;
}

.header__navbar-item{
    margin: 0px 8px;
    position: relative;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
    animation: fadeIn ease-in 0.5s;
}

.header__navbar-item,
.header__navbar-item-link{
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon{
    display: inline-flex;
    text-align: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong{
    font-weight: 400;
}

.header__navbar-item--seperate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: #fB9086;
    height: 16px;
    top: 0;
    right: -9px;
    /* transform: translateY(-50%); */
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0px 4px;
}

.header__navbar-item--no-pointer{
    cursor: text;
    color: var(--white-color);
}

.header__navbar-icon-link{

}

/* Header QR code */

.header__qr {
    width: 187px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: calc(100% + 8px); 
    /* tinh theo thang chua no */
    padding: 8px;
    display: none;
}

.header__qr:hover {
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 11px;
    border-radius: 2px;
}

.header__qr-download-img {
    height: 15px;
}
